* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Khmer OS', sans-serif;
}
header {
    background: #222222;
    list-style: none;
    color: #9B9B9B;
    padding-left: 150px;
    height: 35px;
    vertical-align: middle;
}
li {
    display: inline-block;
}
main {
    margin-left: 150px;
}
h1 {
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 15px;
}
h1 span {
    color: #777777;
    font-size: 15px;
}
article {
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 70px;
}
img {
    float: left;
    margin: 20px 20px 20px 0;
}
h2 h3 p {
    float: right;
}
button {
    background-color: #337AB7;
    color: white;
    padding: 7px;
    border-radius: 8px;
    margin: 15px 0;
}
button span {
    font-weight: bold;
}
h2 {
    margin-top: 30px;
    display: inline-block;
}
